name: deploydist

on:
  push:
    branches:
      - main
      - feature/**
  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node App
        uses: ./.github/actions/setup-node-app
        with:
          node-version: 24

      - name: Run Unit Tests
        run: npm test -- --watchAll=false


  build-job:
    runs-on: ubuntu-latest
    needs: test-job

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node App
        uses: ./.github/actions/setup-node-app
        with:
          node-version: 24

      - name: Build Application
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: build/


  deploy-job:
    runs-on: ubuntu-latest
    needs: build-job
    environment: production

    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-files
          path: build/

      - name: Deploy Artifact
        run: echo "Deployment Job Initiated"
