name: deploydist

on:
  push:
    branches:
      - main
      - feature/**
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node App
        uses: ./.github/actions/setup-node-app
        with:
          node-version: 24

      - name: Run Unit Tests
        run: npm test -- --watchAll=false


  build-job:
    runs-on: ubuntu-latest
    needs: test-job

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node App
        uses: ./.github/actions/setup-node-app
        with:
          node-version: 24

      - name: Build Application
        run: npm run build

      # Upload for GitHub Pages
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/


  deploy-job:
    runs-on: ubuntu-latest
    needs: build-job
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
