name: deploydist

on:
  push:
    branches:
      - main

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Print Node.js Version
        run: node --version      

      - name: Install Dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npm test -- --watchAll=false

      - name: On Job Complete
        run: echo "Good try Muraly - job completed."

  build-job:
    runs-on: ubuntu-latest
    needs: test-job   # Build runs only if test-job succeeds

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm ci

      - name: Build Application
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: build/
